<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>
<p>The following are my products</p>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Specs</th>
      <th>Tags</th>
      <th>Permalink</th>
      <th>Position</th>
      <th>Cost</th>
      <th>Hts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_products.each do |my_product| %>
      <tr>
        <td><%= my_product.product_id %></td>
        <td><%= my_product.name %></td>
        <td><%= my_product.price %></td>
        <td><%= my_product.description %></td>
        <td><%= my_product.specs %></td>
        <td><%= my_product.tags %></td>
        <td><%= my_product.permalink %></td>
        <td><%= my_product.position %></td>
        <td><%= my_product.cost %></td>
        <td><%= my_product.hts %></td>
        <td><%= link_to 'Show', my_product %></td>
        <td><%= link_to 'Edit', edit_my_product_path(my_product) %></td>
        <td><%= link_to 'Destroy', my_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_tag import_my_products_path, multipart: true do %>
  <div>
    <%= link_to "Export CSV", my_products_path(format: "csv")%>
  </div>
  <div>
    <%= file_field_tag :file%>
  </div>
  
  <div>
    <%= submit_tag "Import CSV"%>
  </div>
<% end %>
<hr>

<p>The following are my orders</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Financial_Status</th>
      <th>Paid_at</th>
      <th>Fulfillment_Status</th>
      <th>Fulfilled_at</th>
      <th>Accepts_Marketing</th>
      <th>Currency</th>
      <th>Subtotal</th>
      <th>Shipping</th>
      <th>Taxes</th>
      <th>Total</th>
      <th>Discount_Code</th>
      <th>Discount_Amount</th>
      <th>Shipping_Method</th>
      <th>Lineitem_quantity</th>
      <th>Lineitem_name</th>
      <th>Lineitem_price</th>
      <th>Lineitem_compare_at_price</th>
      <th>Lineitem_sku</th>
      <th>Lineitem_requires_shipping</th>
      <th>Lineitem_taxable</th>
      <th>Lineitem_fulfillment_status</th>
      <th>Billing_Name</th>
      <th>Billing_Street</th>
      <th>Billing_Address1</th>
      <th>Billing_Address2</th>
      <th>Billing_Company</th>
      <th>Billing_City</th>
      <th>Billing_Zip</th>
      <th>Billing_Province</th>
      <th>Billing_Country</th>
      <th>Billing_Phone</th>
      <th>Shipping_Name</th>
      <th>Shipping_Street</th>
      <th>Shipping_Address1</th>
      <th>Shipping_Address2</th>
      <th>Shipping_Company</th>
      <th>Shipping_City</th>
      <th>Shipping_Zip</th>
      <th>Shipping_Province</th>
      <th>Shipping_Country</th>
      <th>Shipping_Phone</th>
      <th>Notes</th>
      <th>Note_Attributes</th>
      <th>Cancelled_at</th>
      <th>Payment_Method</th>
      <th>Payment_Reference</th>
      <th>Refunded_Amount</th>
      <th>Vendor</th>
      <th>Id</th>
      <th>Tags</th>
      <th>Risk_Level</th>
      <th>Source</th>
      <th>Lineitem_discount</th>
      <th>Tax_1_Name</th>
      <th>Tax_1_Value</th>
      <th>Tax_2_Name</th>
      <th>Tax_2_Value</th>
      <th>Tax_3_Name</th>
      <th>Tax_3_Value</th>
      <th>Tax_4_Name</th>
      <th>Tax_4_Value</th>
      <th>Tax_5_Name</th>
      <th>Tax_5_Value</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_orders.each do |my_order| %>
      <tr>
        <td><%= my_order.Name %></td>
        <td><%= my_order.Email %></td>
        <td><%= my_order.Financial_Status%></td>
        <td><%= my_order.Paid_at%></td>
        <td><%= my_order.Fulfillment_Status%></td>
        <td><%= my_order.Fulfilled_at%></td>
        <td><%= my_order.Accepts_Marketing%></td>
        <td><%= my_order.Currency%></td>
        <td><%= my_order.Subtotal%></td>
        <td><%= my_order.Shipping%></td>
        <td><%= my_order.Taxes%></td>
        <td><%= my_order.Total%></td>
        <td><%= my_order.Discount_Code%></td>
        <td><%= my_order.Discount_Amount%></td>
        <td><%= my_order.Shipping_Method%></td>
        <td><%= my_order.Lineitem_quantity%></td>
        <td><%= my_order.Lineitem_name%></td>
        <td><%= my_order.Lineitem_price%></td>
        <td><%= my_order.Lineitem_compare_at_price%></td>
        <td><%= my_order.Lineitem_sku%></td>
        <td><%= my_order.Lineitem_requires_shipping%></td>
        <td><%= my_order.Lineitem_taxable%></td>
        <td><%= my_order.Lineitem_fulfillment_statusv%></td>
        <td><%= my_order.Billing_Name%></td>
        <td><%= my_order.Billing_Street%></td>
        <td><%= my_order.Billing_Address1%></td>
        <td><%= my_order.Billing_Address2%></td>
        <td><%= my_order.Billing_Company%></td>
        <td><%= my_order.Billing_City%></td>
        <td><%= my_order.Billing_Zip%></td>
        <td><%= my_order.Billing_Province%></td>
        <td><%= my_order.Billing_Country%></td>
        <td><%= my_order.Billing_Phone%></td>
        <td><%= my_order.Shipping_Name%></td>
        <td><%= my_order.Shipping_Street%></td>
        <td><%= my_order.Shipping_Address1%></td>
        <td><%= my_order.Shipping_Address2%></td>
        <td><%= my_order.Shipping_Company%></td>
        <td><%= my_order.Shipping_City%></td>
        <td><%= my_order.Shipping_Zip%></td>
        <td><%= my_order.Shipping_Province%></td>
        <td><%= my_order.Shipping_Country%></td>
        <td><%= my_order.Shipping_Phone%></td>
        <td><%= my_order.Notes%></td>
        <td><%= my_order.Note_Attributes%></td>
        <td><%= my_order.Cancelled_at%></td>
        <td><%= my_order.Payment_Method%></td>
        <td><%= my_order.Payment_Reference%></td>
        <td><%= my_order.Refunded_Amount%></td>
        <td><%= my_order.Vendor%></td>
        <td><%= my_order.OrderId%></td>
        <td><%= my_order.Tags%></td>
        <td><%= my_order.Risk_Level%></td>
        <td><%= my_order.Source%></td>
        <td><%= my_order.Lineitem_discountv%></td>
        <td><%= my_order.Tax_1_Name%></td>
        <td><%= my_order.Tax_1_Valuev%></td>
        <td><%= my_order.Tax_2_Name%></td>
        <td><%= my_order.Tax_2_Value%></td>
        <td><%= my_order.Tax_3_Name%></td>
        <td><%= my_order.Tax_3_Value%></td>
        <td><%= my_order.Tax_4_Name%></td>
        <td><%= my_order.Tax_4_Value%></td>
        <td><%= my_order.Tax_5_Name%></td>
        <td><%= my_order.Tax_5_Value%></td>
        <td><%= my_order.Phone%></td>
        <td><%= link_to 'Show', my_order %></td>
        <td><%= link_to 'Edit', edit_my_order_path(my_order) %></td>
        <td><%= link_to 'Destroy', my_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_tag import_my_orders_path, multipart: true do %>
  <div>
    <%= link_to "Export CSV", my_products_path(format: "csv")%>
  </div>
  <div>
    <%= file_field_tag :file%>
  </div>
  
  <div>
    <%= submit_tag "Import CSV"%>
  </div>
<% end %>

<hr>

<h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>
